name: OCaml CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build_and_test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up OCaml (opam)
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: '5.1.0'
          opam-cache: true

      - name: Install dependencies
        run: |
          opam install . --deps-only --with-test -y

      - name: Build
        run: |
          opam exec -- dune build

      - name: Test
        run: |
          opam exec -- dune test
